body {
	min-width: 1140px;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #ffffff;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
button {
	border: none;
	background: none;
	cursor: pointer;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	      clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.main-header {
	background-color: #f3f7f8;
	padding-bottom: 70px;
}
.header-container .container{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;

}
.container {
	margin: 0 auto;
	max-width: 940px;
}
.header-container {
	background-color: #293449;
}
.main-header-logo {
	position: absolute;
	width: 220px;
    height: 42px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}
.main-header-logo img {
	margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 12px;
}
.search-form {
	position: relative;
	margin-left: 220px;
}
.search-form input {
	width: 270px;
	height: 43px;
	padding: 0 10px 0 48px;
	color: #f0f1f2;
	background-color: transparent;
	border: none;
}
.search-form input::-webkit-input-placeholder {
	color:  #f0f1f2;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
}
.search-form input:-ms-input-placeholder {
	color:  #f0f1f2;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
}
.search-form input::-ms-input-placeholder {
	color:  #f0f1f2;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
}
.search-form input::placeholder {
	color:  #f0f1f2;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
}
.search-form label {
	position: absolute;
	top: 12px;
	left: 17px;
}
.search-form:hover {
	background-color: #212a3a;
}
.search-form:hover path {
   fill: #ffffff;
}
input[type="search"]:focus + label path {
   fill: #f0525d;
}
input[type="search"]:focus {
	background-color: #ffffff;
	color: #111111;
}
input[type="search"]:focus::-webkit-input-placeholder {
	color: #111111;	
}
input[type="search"]:focus:-ms-input-placeholder {
	color: #111111;	
}
input[type="search"]:focus::-ms-input-placeholder {
	color: #111111;	
}
input[type="search"]:focus::placeholder {
	color: #111111;	
}
.main-header .menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.main-header .menu-item {
	position: relative;
	width: 150px;
	text-align: center;
}
.menu-item svg {
	position: absolute;
	left: 17px;
	top: 12px;
	fill: #6a7180;
}
.menu-item path {
	fill: #6a7180;
}
.menu-list a {
	display: block;
}
.menu-list a:not(.design) {
	color: #ffffff;
    padding: 12px 0 12px 17px;
}
.menu-item .design {
	color: #ffffff;
	padding: 12px 0;
}
.menu-item:last-child {
	background-color: #63a63e;
}
.menu-list a:hover:not(.design) {
	background-color: #212a3a;
}
.menu-list a:active:not(.design) {
	background-color: #161d29;
	color: #999ca1;
}
.menu-item:hover:last-child {
	background-color: #5fbb2d;
}
.menu-item:active:last-child {
	background-color: #518534;
}
.menu-item .design:active {
	color: #80a66b;
}
.menu-item a:hover + svg path,
.menu-item a:hover + svg {
	fill: #ffffff;
}
.menu-item a:active + svg path,
.menu-item a:active + svg {
	fill: #6a7180;
}
.about {
	margin-top: 45px;
}
.about .description {
	font-size: 16px;
    line-height: 23px;
    font-style: italic;
    font-weight: 500;
    color: #ee3643;
    margin: 0;
    margin-top: 4px;
    margin-left: 53px;
    width: 205px;
}
.contacts .phone {
    margin: 0;
    position: relative;
    padding: 10px 0;
    border: 3px solid #ffffff;
    width: 265px;
    margin-left: 12px;
}
.contacts .phone-number {
	font-size: 21px;
    line-height: 18px;
    color: #ee3643;
    margin-left: 71px;
}
.contacts .phone-number::before {
	content: "";
	width: 19px;
	height: 19px;
	background-image: url(../img/icon-phone.svg);
	position: absolute;
	top: 10px;
	left: 12px;
}
.about .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.contacts .address {
	margin: 0;
	margin-top: 3px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin-left: 22px; 
}
.authorization {
	margin: 0;
	margin-top: 2px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.authorization a {
	display: block;
	font-size: 21px;
	line-height: 18px;
	color: #000000;	
	background-color: #ffffff;
}
.authorization a:hover {
	color: #ee3643;
}
.authorization a:active {
	color: #b2b2b2;
}
.authorization .login {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	position: relative;
	padding: 11px 27px 11px 48px;
	margin-right: 10px;
}
.login svg {
	position: absolute;
	left: 15px;
}
.login:hover path,
.login:hover polygon {
	fill: #32425c;
}
.login:active path,
.login:active polygon {
	fill: #c5c5c5;
}
.authorization .registration {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	padding: 11px 24px 11px 24px;
}
.main-navigation {
	margin-top: 39px;
}
.site-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
	padding-left: 21px;
	padding-right: 25px;
}
.site-navigation li {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: center;
} 
.site-navigation a {
	color: #ffffff;
	line-height: 17px;
	padding: 10px;
	display: block;
    padding: 19px 25px;
    padding-top: 20px;
}
.site-navigation a:hover {
	background-color: #293449;
}
.site-navigation a:active {
	background-color: #1d2739;
	color: #868c95;
}
.site-navigation .active,
.site-navigation .active:hover {
	background-color: #1d2739;
	color: #868c95;
}
.promo {
	margin-top: 48px;
}
.promo-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.promo-list .promo-item,
.promo-item-other {
    position: relative;
    width: 300px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-height: 93px;
    padding: 21px 23px;
}
.promo-list .promo-item:first-child {
	background-color: #ffbf47;
}
.promo-item:first-child::before {
	content: "";
	position: absolute;
	left: 212px;
	top: 31px;
	background-image: url(../img/icon-1.svg);
	width: 44px;
	height: 65px;
}
.promo-item:first-child::after {
	content: "";
	position: absolute;
	left: 240px;
	top: 0;
	background-image: url(../img/new.png);
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
}
.promo-list .promo-item:nth-child(2) {
	background-color: #3bbce3;
}
.promo-item:nth-child(2)::before {
	content: "";
	position: absolute;
	left: 196px;
	top: 32px;
	background-image: url(../img/icon-2.svg);
	width: 75px;
	height: 61px;
}
.promo-list .promo-item:last-child {
	background-color: #dc91d8;
}
.promo-item:last-child::before {
	content: "";
	position: absolute;
	left: 190px;
	top: 30px;
	background-image: url(../img/icon-3.svg);
	width: 78px;
	height: 62px;
}
.promo-item h3,
.promo-item-other h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 14px;
}
.promo-item  a,
.promo-item-other a {
	display: block;
    width: 136px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 5px;
}
.promo-item:first-child a {
	background-color: rgba(189, 125, 0, 0.2);
}
.promo-item:first-child a:hover {
	background-color: rgba(189, 125, 0, 0.3);
}
.promo-item:first-child a:active {
	background-color: rgba(189, 125, 0, 0.4);
}
.promo-item:nth-child(2) a {
	background-color: rgba(42, 131, 158, 0.2);
}
.promo-item:nth-child(2) a:hover {
	background-color: rgba(42, 131, 158, 0.3);
}
.promo-item:nth-child(2) a:active {
	background-color: rgba(42, 131, 158, 0.4);
}
.promo-item:last-child a {
	background-color: rgba(161, 111, 158, 0.2);
}
.promo-item:last-child a:hover {
	background-color: rgba(161, 111, 158, 0.3);
}
.promo-item:last-child a:active {
	background-color: rgba(161, 111, 158, 0.4);
}
.promo-other {
	margin-top: 20px;
}
.slider {
	margin-right: auto;
}
.slider .wrapper {
	width: 620px;
	position: relative;
}
.slider-list-item {
	display: none;
	width: 620px;
    min-height: 266px;
    color: #ffffff;
}
.slider-list-item h2 {
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}
.slider-list-item span {
	display: block;
	margin: 0;
	margin-top: 3px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
}
.slider-list-item:first-child {
	background-image: url(../img/slider-1.jpg);
	background-repeat: no-repeat;
}
.slider-list-item:last-child {
	background-image: url(../img/slider-2.jpg);
	background-repeat: no-repeat;
}
.slider-list-item .description {
	background-color: rgba(0, 0, 0, 0.2);
	padding: 26px 25px;
	padding-bottom: 22px;
}
.slider-list-item a {
	display: block;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	margin-top: 102px;
	margin-left: 26px;
	background-color: #ee3643;
	width: 195px;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
}
.slider-list-item a:hover {
	background-color: #ca2c37;
}
.slider-list-item a:active {
	background-color: #ba2732;
}
.slider input[type="radio"] {
	display: none;
}
.slider-controls {
	position: absolute;
   	top: 216px;
    left: 294px;
}
.slider-controls label {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-right: 8px;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls label::before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	position: absolute;
	border-radius: 50%;
}
.slider-controls-buttons {
	width: 587px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 120px;
    left: 20px;
}
.slider-controls-buttons label {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding: 10px;
}
.slider-controls-buttons label:last-child {
	margin-left: auto;
}
.slider-controls-buttons label::before {
	content: "";
	width: 24px;
	height: 24px;
	border: 3px solid #ffffff;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.slider-controls-buttons label:first-child::before {
	border-top-style: none;
	border-right-style: none;
}
.slider-controls-buttons label:last-child::before {
	border-left-style: none;
	border-bottom-style: none;
}
#slider-1:checked ~ .slider-controls .slider-controls-item-1::after,
#slider-2:checked ~ .slider-controls .slider-controls-item-2::after {
	content: "";
	position: absolute;
	left: 2px;
	top: 2px;
	width: 6px;
	height: 6px;
	background-color: #ee3643;
	border-radius: 50%;
}
#slider-1:checked ~ .slider-list .slider-list-item:first-child,
#slider-2:checked ~ .slider-list .slider-list-item:last-child {
	display: block;
}
.promo-item-other:first-child {
	background-color: #8ed78f;
}
.promo-item-other:first-child a {
	background-color: rgba(113, 159, 113, 0.2);
}
.promo-item-other:first-child a:hover {
	background-color: rgba(113, 159, 113, 0.3);
}
.promo-item-other:first-child a:active {
	background-color: rgba(113, 159, 113, 0.4);
}
.promo-item-other:first-child::before {
	content: "";
	width: 59px;
	height: 72px;
	position: absolute;
	top: 26px;
	right: 45px;
	background-image: url(../img/icon-4.svg);
	background-repeat: no-repeat;
}
.promo-item-other:last-child {
	background-color: #ffc047;
}
.promo-item-other:last-child a {
	background-color: rgba(175, 132, 50, 0.2);
}
.promo-item-other:last-child a:hover {
	background-color: rgba(175, 132, 50, 0.3);
}
.promo-item-other:last-child a:active {
	background-color: rgba(175, 132, 50, 0.4);
}
.promo-item-other:last-child::before {
	content: "";
	width: 80px;
	height: 64px;
	position: absolute;
	top: 33px;
	right: 29px;
	background-image: url(../img/icon-5.svg);
	background-repeat: no-repeat;
}
.promo-other .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.promo-list-other {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.popular-goods {
	margin-top: 54px;
}
.heading h2 {
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}
.heading {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 28px;
	padding-left: 26px;
	background-color: #f9f5f0;
}
.heading span {
	text-transform: uppercase;
}
.heading a {
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	background-color: #ee3643;
	border-radius: 5px;
	width: 253px;
	padding: 10px 0;
    margin-right: -4px;
    margin-top: -3px;
}
.popular-goods .popular-list,
.catalog .popular-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 17px;
}
.popular-goods .popular-item,
.catalog  .popular-item {
	position: relative;
	width: 218px;
	min-height: 320px;
	font-family: "PT Sans", Arial, sans-serif;
	text-align: center;
	border: 1px solid #eaeaea;
}
.popular-goods .popular-item:last-child {
	background-image: url(../img/new.png);
	background-repeat: no-repeat;
	background-position: 160px 0;
} 
.popular-item a {
	display: block;
}
.popular-item-image {
	margin: 0;
	position: relative;
	width: 220px;
	height: 167px;
}
.popular-item-image img {
	position: absolute;
	top: 50%;
    left: 50%;
    -webkit-transform: translate(-57%, -50%);
        -ms-transform: translate(-57%, -50%);
            transform: translate(-57%, -50%);
}
.popular-item h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #000000;
	margin: 0;
	margin-top: 12px;
	padding: 0 30px;
}
.popular-item span {
	display: block;
	margin-top: 10px;
	font-size: 17px;
	font-weight: 700;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
}
.popular-item .price {
    position: relative;
    width: 123px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px 0;
    padding-left: 13px;
    margin-top: 11px;
    margin-left: 42px;
    text-decoration: none;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 5px;
}
.one-price .price{
	margin-top: 39px;
}
.popular-item .price::before {
	content: "";
    position: absolute;
    top: 0;
    left: 120px;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-width: 18.8px 0 18.8px 20px;
    border-color: transparent transparent transparent #ee3643;
}
.popular-item:hover {
	-webkit-box-shadow: 0 10px 35px 0 #bec2c6;
	        box-shadow: 0 10px 35px 0 #bec2c6;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
.popular-item:hover img {
	opacity: 0;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
.popular-item:hover .item-buttons {
 	opacity: 1;
	-webkit-transition-duration: 0.1s;
	     -o-transition-duration: 0.1s;
	        transition-duration: 0.1s;
	-webkit-transition-delay: 0.2s;
	     -o-transition-delay: 0.2s;
	        transition-delay: 0.2s;
}
.item-buttons {
	opacity: 0;
	margin: 0;
	position: absolute;
    top: 43px;
}
.item-buttons button {
	width: 135px;
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
}
.item-buttons .button-buy {
	position: relative;
	padding: 11px 0;
	margin-bottom: 7px;
	color: #ffffff;
	background-color: #63a63e;
	-webkit-box-shadow: inset 0 -3px 0 0 #367315;
	        box-shadow: inset 0 -3px 0 0 #367315;
}
.button-buy svg {
	position: absolute;
	left: 12px;
	fill: #92c178;
}
.button-buy:hover {
	background-color: #5fbb2d;
}
.button-buy:hover svg {
	fill: #ffffff;
}
.button-buy:active {
	background-color: #518534;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.button-buy:active svg {
	fill: #ffffff;
}
.item-buttons .button-bookmarks {
	color: #32425c;
    border: 3px solid #63a63e;
    padding: 9px 0;
    letter-spacing: -2px;
}
.button-bookmarks:hover {
	border-color: #32425c;
}
.button-bookmarks:active {
	color: #c1c6ce;
	border-color: #c1c6ce;
}
.modal-info {
	display: none;
	position: fixed;
	width: 620px;
	top: 10px;
	left: 50%;
	margin-left: -310px;
	background-color: #ffffff;
	border-top: 7px solid #ee3643;
	-webkit-box-shadow: 0 15px 32px 0px #cccccc;
	        box-shadow: 0 15px 32px 0px #cccccc;
	z-index: 2;
}
.info-show {
	display: block;
}
.modal-info .wrapper {
	position: relative;
}
.modal-info h2 {
	font-size: 30px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: -1.4px;
	margin: 0;
	color: #000000;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}
.modal-info .heading-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding: 45px 80px;
    padding-bottom: 49px;
}
.modal-info .icon {
	position: relative;
	margin: 0;
	margin-right: 30px;
	width: 67px;
	height: 67px;
	background-color: #63a63e;
	border-radius: 50%;
}
.modal-info .icon::before {
	content: "";
    position: absolute;
    top: 18px;
    left: 14px;
    width: 32px;
    height: 15px;
    border: 8px solid #ffffff;
    border-top-style: none;
    border-right-style: none;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.modal-info .modal-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 38px 80px;
	background-color: #f1f1f1;
}
.modal-buttons a,
.modal-buttons .continue {
	display: block;
    width: 220px;
    padding: 10px 0;
    text-align: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
}
.modal-buttons a {
    color: #ffffff;
    background-color: #ee3643;
}
.modal-buttons a:hover {
	background-color: #ca2c37;
}
.modal-buttons a:active {
	background-color: #ba2732;
}
.modal-buttons .continue {
	background-color: #ffffff;
	outline: none;
}
.modal-buttons .continue:hover {
	background-color: #fbf9f9;
}
.modal-buttons .continue:active {
	background-color: #ebe9e9;
}
.modal-buttons .modal-close {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
}
.modal-buttons .modal-close::before,
.modal-buttons .modal-close::after {
	content: "";
    width: 25px;
    height: 4px;
    position: absolute;
    left: 2px;
    top: 12px;
    background-color: #ee3643;
}
.modal-buttons .modal-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.modal-buttons .modal-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.popular-manufacturers {
	margin-top: 18px;
}
.popular-manufacturers .heading {
	margin-bottom: 17px;
}
.heading .caption {
	text-transform: uppercase;
}
.manufacturers-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.manufacturers-item {
	position: relative;
	width: 218px;
	min-height: 143px;
	margin-bottom: 20px;
	border: 1px solid #ebebeb;
}
.manufacturers-item:not(:nth-child(4n+4)) {
	margin-right: 20px;
}
.manufacturers-item img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}
.manufacturers-item:hover {
	-webkit-box-shadow: 0 10px 35px 0 #bec2c6;
	        box-shadow: 0 10px 35px 0 #bec2c6;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
.manufacturers-item:active img {
	opacity: 0.3;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s; 
}
.services {
	margin-top: 65px;
	padding-top: 68px;
	background-color: #f4f8f9;
}
.services h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
}
.services p {
	width: 400px;
	margin: 0;
	margin-top: 29px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}
.services-slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 66px;
}
.services-control {
	width: 240px;
	position: relative;
}
.services-control::before {
	content: "";
	position: absolute;
	top: -35px;
    left: 230px;
	width: 10px;
	height: 272px;
	background-image: url(../img/border.png);
}
.services-control label {
	display: block;
	font-size: 21px;
	font-weight: 700;
	background-color: #32425c;
	padding: 20px 22px;
	padding-bottom: 18px;
	-webkit-box-shadow:
		inset 0 -1px 0 0 #293449, 
		inset 0 1px 0 0 #405069;
	        box-shadow:
		inset 0 -1px 0 0 #293449, 
		inset 0 1px 0 0 #405069;
	cursor: pointer;
}
.services-control label:hover {
	background-color: #293449;
}
#services-1:checked ~ .services-control .services-control-item-1,
#services-2:checked ~ .services-control .services-control-item-2,
#services-3:checked ~ .services-control .services-control-item-3 {
	background-color: #ffffff;
	color: #32425c;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
.services-item {
	display: none;
	width: 620px;
	min-height: 285px;
	margin-left: 80px
}
.services-item .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 8px;
}
.services-item h2 {
	font-size: 36px;
	line-height: 24px;
	color: #32425c;
}
.services-item:first-child img {
	margin-top: 19px;
}
.services-item:first-child {
	background-image: url(../img/bg-1.png);
	background-repeat: no-repeat;
    background-position: 152px 19px;
}
.services-item:first-child p {
	width: 275px;
}
.services-item:first-child span {
	margin-right: 50px;
}
.services-item:nth-child(2) p {
	width: 380px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 5px;
}
.services-item:nth-child(2) span {
	margin-right: 200px;
}
.services-item:nth-child(2) img {
	margin-top: -4px;
}
.services-item:nth-child(2) {
	background-image: url(../img/bg-2.png);
	background-repeat: no-repeat;
	background-position: 233px 7px;
}
.services-item:last-child p {
	width: 280px;
}
.services-item:last-child .send-request {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ff5357;
	width: 195px;
	padding: 10px 0;
	margin-top: 28px;
	border-radius: 5px;
	cursor: pointer;
}
.services-item:last-child .send-request:hover {
	background-color: #ca2c37;
}
.services-item:last-child .send-request:active {
	background-color: #ba2732;
}
.services-item:last-child {
	background-image: url(../img/bg-3.png);
	background-repeat: no-repeat;
	background-position: 154px 0;
}
#services-1:checked ~ .services-list .services-item:first-child,
#services-2:checked ~ .services-list .services-item:nth-child(2),
#services-3:checked ~ .services-list .services-item:last-child {
	display: block;
}
.about-technomart {
	margin-top: 76px;
	padding-bottom: 86px;
}
.technomart-description {
	width: 545px;
}
.about-technomart h2 {
	margin: 0;
	font-size: 30px;
	line-height: 24px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 400;
}
.about-technomart .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.about-technomart .promo,
.contacts .contacts-promo {
	margin: 0;
	margin-top: 28px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}
.about-technomart .promo:first-of-type {
	letter-spacing: 0.13px;
}
.about-technomart .promo:last-of-type,
.contacts .contacts-promo {
	padding-right: 105px;
}
.about-technomart .promo:last-of-type {
	margin-top: 24px;
}
.companies-list {
	margin-top: 22px;
}
.companies-list .companies-item {
	position: relative;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	padding-left: 35px;
}
.companies-list .companies-item:not(:last-child) {
	margin-bottom: 20px;
}
.companies-list .companies-item::before {
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	position: absolute;
	top: 10px;
	left: 0;
}
.technomart-description .more-details {
	display: block;
	width: 220px;
	text-align: center;
	text-transform: uppercase;
	padding: 10px 0;
	margin-top: 37px;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 5px;
}
.technomart-description .more-details:hover {
	background-color: #ca2c37;
}
.technomart-description .more-details:active {
	background-color: #ba2732;
}
.contacts {
	width: 300px;
} 
.contacts .map {
	padding: 0;
	margin-top: 32px;
	cursor: pointer;
}
.contacts .write-us {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	padding: 10px 0;
	margin-top: 36px;
	width: 300px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 5px;
}
.contacts .write-us:hover {
	background-color: #ca2c37;
}
.contacts .write-us:active {
	background-color: #ba2732;
}
.blocker {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 2;
}
.modal-show {
	display: block;
}
.blocker .map-popup {
	position: fixed;
	bottom: 190px;
	left: 50%;
	margin-left: -470px;
	width: 940px;
	height: 447px;
	z-index: 3;
	background-image: url(../img/map-popup.jpg);
	background-repeat: no-repeat;
    background-position: -15px -13px;
    -webkit-box-shadow: 0 0 25px 5px #b8b8b8;
            box-shadow: 0 0 25px 5px #b8b8b8;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}
.map-popup .popup-close::before,
.map-popup .popup-close::after {
	content: "";
    width: 25px;
    height: 4px;
    position: absolute;
    left: 2px;
    top: 12px;
    background-color: #ee3643;
}
.map-popup .popup-close {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 30px;
	height: 30px;
}
.map-popup .popup-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.map-popup .popup-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-500px);
		        transform: translateY(-500px);
	}
	100% {
		-webkit-transform: translateY(50px);
		        transform: translateY(50px);
	}
}
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-500px);
		        transform: translateY(-500px);
	}
	100% {
		-webkit-transform: translateY(50px);
		        transform: translateY(50px);
	}
}
.modal {
	display: none;
	position: fixed;
	bottom: 150px;
	left: 50%;
	margin-left: -310px;
	width: 620px;
	border-top: 7px solid #ee3643;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 25px 5px #b8b8b8;
	        box-shadow: 0 0 25px 5px #b8b8b8;
	z-index: 2;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-top: 46px;
	-webkit-animation: bounce 0.6s;
	        animation: bounce 0.6s;
}
.popup-show {
	display: block;
}
.login-form .wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 0 80px
}
.login-form p {
	margin: 0;
}
.login-form label {
	display: block;
	font-size: 18px;
	line-height: 18px;
	color: #000000;
	font-weight: 400;
	margin-bottom: 10px;
}
.login-form input {
	width: 186px;
	border: 2px solid #999999;
	border-radius: 3px;
	padding: 7px 15px;
}
.login-form input,
.login-form textarea {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}
.login-form input:focus,
.login-form textarea:focus {
	border-color: #656565;
	outline: none;
}
.login-form textarea {
	width: 428px;
    height: 87px;
    padding: 14px;
    padding-top: 8px;
    border: 2px solid #999999;
    border-radius: 3px;
}
.login-form .inscription {
	margin-top: 22px;
}
.login-form .buttons {
	min-height: 38px;
	margin-top: 35px;
	padding: 37px 80px;
	padding-top: 36px;
	background-color: #f4f4f4;
}
.login-form button[type="submit"] {
	width: 100%;
	padding: 10px 0;
	background-color: #ee3643;
    font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	border-radius: 4px;
}
.login-form button[type="submit"]:hover {
	background-color: #ca2c37;
}
.login-form button[type="submit"]:active {
	background-color: #ba2732;
}
.login-form .button-close {
	position: absolute;
	right: 4px;
	top: 5px;
	width: 30px;
	height: 30px;
}
.login-form .button-close::before,
.login-form .button-close::after {
	content: "";
    width: 25px;
    height: 4px;
    position: absolute;
    left: 2px;
    top: 12px;
    background-color: #ee3643;
}
.login-form .button-close::before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.login-form .button-close::after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.footer-top {
	background-color: #32425c;
}
.footer-top .footer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-top .main-footer-logo {
	background-color: #ee3643;
	display: block;
	width: 220px;
	height: 63px;
	border-bottom: 5px solid #b52933;
}
.main-footer-logo img {
	margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-top: 21px;
}
.footer-menu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 548px;
    margin-top: 37px;
}
.footer-menu-item a {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff
}
.footer-menu-item a:hover {
	text-decoration: underline;
}
.footer-menu-item a:active {	
	color: #a4abb4;
	text-decoration: none; 
}
.footer-sub-menu {
	margin-top: 27px;
	padding-bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-sub-menu .our-contacts {
	width: 334px;
	margin: 0;
	padding-left: 3px;
	font-size: 18px;
	line-height: 24px;
}
.sub-menu-list {
	width: 525px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.sub-menu-item a {
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
}
.sub-menu-item a:hover {
	text-decoration: underline;
}
.sub-menu-item a:active {
	color: #ad956f;
	text-decoration: none;
}
.footer-bottom {
	padding-top: 38px;
	padding-bottom: 30px;
	background-color: #293449;
}
.footer-bottom .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer-bottom .copyright {
	margin: 0;
	width: 230px;
	font-size: 16px;
	line-height: 18px;
    margin-right: 44px;
}
.social-list {
	min-width: 170px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 41px;
	height: 41px;
	background-color: #212a3a;
	border-radius: 50%;
	margin-top: -3px;
}
.social-item:not(:last-child) .social-button {
	margin-right: 4px;
}
.social-button:hover,
.social-button:active {
	background-color: #ee3643;
}
.communication {
	width: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 16px;
	line-height: 18px;
}
.communication a {
	color: #f5c97d;
}
.communication a:hover {
	text-decoration: underline;
}
.communication a:active {
	color: #e53643;
	text-decoration: none;
}
.communication-email {
	margin-right: 52px;
}
.communication-email,
.communication-site {
	margin-top: 0;
	margin-bottom: 0;
}

/*Styles for catalog.html*/
.catalog .main-header-logo:hover {
	background-color: #ca2c37;
    border-bottom-color: #9a212a; 
}
.catalog .main-header-logo:active {
	background-color: #ba2732;
    border-bottom-color: #8e1e26; 
}
.menu-item:nth-child(2) .basket-active {
	background-color: #ee3643;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 22px;
}
.menu-item:nth-child(2) .basket-active:hover {
	background-color: red;
}
.menu-item:nth-child(2) .basket-svg {
	fill: #f3737c;
}
.catalog .contacts {
	margin-left: 18px;
}
.catalog .authorization {
	display: none;
}
.catalog .user-authorization {
	margin-top: -2px;
}
.user-info {
	position: relative;
	margin: 0;
	padding: 15px 68px 13px 47px;  
	background-color: #ffffff;
	-ms-flex-item-align: start;
	    align-self: flex-start;
}
.user-profile svg {
	position: absolute;
	left: 13px;
}
.user-profile path {
	fill: #c5c5c5;
}
.user-profile:hover path {
	fill: #32425c;
}
.user-profile span {
	display: block;
	font-size: 21px;
	line-height: 18px;
	color: #000000;
}
.user-profile span:active {
	color: #c5c5c5;
}
.user-profile:active path {
	fill: #c5c5c5;
}
.user-deauthorization svg {
	position: absolute;
	top: 14px;
	right: 10px;
}
.user-deauthorization:hover polygon,
.user-deauthorization:hover path {
	fill: #32425c;
}
.user-deauthorization:active polygon,
.user-deauthorization:active path {
	fill: #c5c5c5;
}
.user-authorization .user-details {
	margin: 0;
	margin-top: 7px;
	margin-left: 18px;
}
.user-details a {
	font-size: 16px;
	color: #32425c;
	text-decoration: underline;
}
.user-details a:hover {
	color: #ee3643;
}
.user-details a:active {
	color: #c5cad0;
}
.user-details a:first-child {
	margin-right: 28px;
	position: relative;
}
.user-details a:first-child::before {
	content: "";
	width: 5px;
	height: 5px;
	position: absolute;
	top: 8px;
	left: 90px;
	background-color: #32425c;
	border-radius: 50%;
}
.breadcrumbs-list {
	margin-top: 10px;
    margin-left: -1px;
    width: 358px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.breadcrumbs-item a {
	position: relative;
	display: block;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000000;
	padding-right: 27px;
}
.breadcrumbs-item a:hover {
	text-decoration: underline;
	color: #ee3643;
}
.breadcrumbs-item:first-child:hover path,
.breadcrumbs-item:first-child:hover polygon {
	fill: #32425c;
}
.breadcrumbs-item:first-child:active path,
.breadcrumbs-item:first-child:active polygon {
	fill: #c5c5c5;
}
.breadcrumbs-item a:active {
	color: #cacaca;
}
.breadcrumbs-item:last-child a {
	padding-right: 0;
}
.breadcrumbs-item:first-child a {
	margin-right: 13px;
}
.breadcrumbs-item:nth-child(2) a {
	margin-right: 13px;
}
.breadcrumbs-item:nth-child(3) a {
	margin-right: 17px;
}
.breadcrumbs-item:not(:last-child) a::after {
	content: "";
	width: 8px;
	height: 8px;
	border: 1px solid #c1c6ce;
	border-top-style: none;
	border-left-style: none;
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	position: absolute;
	top: 3px;
	left: 26px;
}
.breadcrumbs-item:nth-child(2) a::after {
	left: 66px;
}
.breadcrumbs-item:nth-child(3) a::after {
	left: 95px;
}
main h1 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    margin: 0;
    padding: 30px 0 31px 28px;
    margin-top: 21px;
    background-color: #f2f6f8;
}
.goods-available {
	margin-top: 19px;
}
.goods-available .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.filter {
	font-family: "PT Sans", Arial, sans-serif;
	color: #000000;
	width: 220px;
}
.filter h2 {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin: 0;
	padding: 8px 0 11px 19px; 
	background-color: #f7f3ec;
	border-radius: 4px;
}
.filter-option fieldset {
	border: none;
	padding: 0;
	padding-bottom: 26px;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
}
.filter-option fieldset:first-of-type {
	margin-top: 11px;
}
.filter-option legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
}
.filter-option .price {
	margin-bottom: 16px;
}
.filter-option .range {
	position: relative;
	padding: 38px 20px;
	background-color: #f7f3ec;
} 
.range p {
	margin: 0;
}
.range .line {
	width: 160px;
	height: 2px;
	background-color: #00ca74;
	position: absolute;
	top: 38px;
}
.range .line-left {
	width: 180px;
	height: 2px;
	background-color: #d7dcde;
}
.range-left img {
	position: absolute;
	top: 29px;
    left: 20px;
    cursor: pointer;
}
.range-right img {
	position: absolute;
	top: 29px;
    left: 160px;
    cursor: pointer;
}
.filter-option .cost {
	position: relative;
	margin-top: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.filter-option .cost::before {
	content: "";
	width: 10px;
	height: 1px;
	position: absolute;
	top: 22px;
	left: 105px;
	background-color: #444444;
}
.cost p {
	margin-top: 0;
}
.cost-min {
	margin-right: auto;
}
.cost-max {
	margin-left: auto;
}
.cost input {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	width: 75px;
	border: none;
	text-align: center;
	background-color: #f7f3ec;
	border-radius: 4px;
	padding: 10px 10px;
}
.filter-option fieldset:nth-of-type(2) {
	margin-top: 16px;
	padding-bottom: 22px;
}
.filter-option .maker-list {
	margin-top: 14px;
}
.maker-item label,
.nutrition-item label {
	position: relative;
	font-size: 15px;
	line-height: 20px;
	padding-left: 34px;
	text-transform: uppercase;
	cursor: pointer;
}
.maker-item:not(:last-child) label {
	display: block;
	margin-bottom: 20px;
}
.maker-item label::before {
	content: "";
	width: 21px;
	height: 21px;
	border: 2px solid #c5c5c5;
	border-radius: 4px;
	position: absolute;
	top: -1px;
	left: -1px;
}
.filter-input-checkbox:checked + label::after {
	content: "";
    width: 17px;
    height: 9px;
    border: 4px solid #c5c5c5;
    border-top-style: none;
    border-right-style: none;
    position: absolute;
    top: 0px;
    left: 4px;
    -webkit-transform: rotate(-48deg);
        -ms-transform: rotate(-48deg);
            transform: rotate(-48deg);
    -webkit-box-shadow: inset 0 -2px 0 0 white, 0 2px 0 0 white;
            box-shadow: inset 0 -2px 0 0 white, 0 2px 0 0 white;
}
.maker-item label:hover::before,
.maker-item label:hover::after {
	border-color: #b5b5b5;
}
.filter-input-checkbox:disabled + label::before {
	border-color: #e9e9e9;
}
.filter-input-checkbox:disabled + label::after {
	content: "";
    width: 17px;
    height: 9px;
    border: 4px solid #e9e9e9;
    border-top-style: none;
    border-right-style: none;
    position: absolute;
    top: 1px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-box-shadow: 
    	inset 0 -2px 0 0 white,
    	0 2px 0 0 white;
            box-shadow: 
    	inset 0 -2px 0 0 white,
    	0 2px 0 0 white;
}
.filter-option fieldset:nth-of-type(3) {
	margin-top: 18px;
}
.filter-option .nutrition {
	letter-spacing: 0.6px;
}
.filter-option .nutrition-list {
	margin-top: 12px;
}
.nutrition-item:not(:last-child) label {
	display: block;
	margin-bottom: 20px;
}
.nutrition-item label {
	font-size: 14px;
}
.nutrition-list label::before {
	content: "";
	width: 14px;
	height: 14px;
	border: 5px solid #c5c5c5;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.filter-input-radio:checked + label::after {
	content: "";
    width: 9px;
    height: 9px;
    background-color: #c5c5c5;
    border-radius: 50%;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
}
.nutrition-list label:hover::before,
.nutrition-list label:hover::after {
	border-color: #b5b5b5;
}
.filter-input-radio:disabled + label::before {
	border-color: #e9e9e9;
}
.filter-input-radio:disabled + label::after {
	content: "";
    width: 9px;
    height: 9px;
    background-color: #e9e9e9;
    border-radius: 50%;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
}
.filter-option button {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	margin-top: 52px;
	width: 140px;
	padding: 9px 0;
}
.filter-option button:hover {
	border-color: #bdc6ca;
}
.filter-option button:active {
	outline-color: #ee3643;
}
.goods-available .our-goods {
	width: 700px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	color: #000000;
}
.our-goods .sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 8px 17px 11px 19px;
    background-color: #f7f3ec;
    border-radius: 4px;
}
.sorting b {
	font-weight: 400;
	margin-right: 97px;
}
.sorting .sorting-list {
	width: 355px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.sorting-item a {
	color: #cacaca;
	border-bottom: 1px dashed #ee3643;
}
.sorting-item a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}
.sorting-item .active,
.sorting-item a:active {
	color: #ee3643;
	border-bottom: none;
}
.sorting .sorting-buttons {
	width: 43px;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.sorting-buttons .button-up, 
.sorting-buttons .button-down {
	width: 0;
	height: 0;
	padding: 0;
	border-style: solid;
	border-width: 0 5.5px 10px 5.5px;
	border-color: transparent transparent #c5c5c5 transparent;
}
.sorting-buttons .button-down {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.sorting-buttons .button-up:hover, 
.sorting-buttons .button-down:hover {
	border-color: transparent transparent #231f20 transparent;
}
.sorting-buttons .button-up:active, 
.sorting-buttons .button-down:active {
	border-color: transparent transparent #ee3643 transparent;
}
.sorting-buttons .active {
	border-color: transparent transparent #ee3643 transparent;
}
.catalog .popular-list {
	margin-top: 20px
}
.catalog .popular-item {
	margin-bottom: 20px;
	min-height: 316px;
}
.catalog .popular-item:not(:nth-child(3n + 3)) {
	margin-right: 17px;
}
.popular-item.new {
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-position: 160px 0;
}
.pagination-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 31px;
}
.pagination-list .pagination-item:not(:last-child) {
	margin-right: 11px;
}
.pagination-item a {
	display: block;
	color: #000000;
	padding: 10px 14px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.pagination-item:last-child a {
	padding: 10px 31px;
}
.pagination-item a:hover {
	border-color: #bdc6ca;
}
.pagination-item a:active {
	border-color: #ee3643;
}
.pagination-item .active {
	color: #fef5f6;
	border-color: #ee3643;
	background-color: #ee3643;
}
.about-perforators {
    margin-top: 60px;
    padding-top: 62px;
    padding-bottom: 69px;
    color: #000000;
    background-color: #f2f6f8;
}
.about-perforators h2 {
	margin: 0;
	font-size: 30px;
	letter-spacing: -0.5px;
}
.about-perforators p {
	margin: 0;
	margin-top: 23px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}
.catalog .main-footer-logo:hover {
	background-color: #ca2c37;
    border-bottom-color: #9a212a; 
}
.catalog .main-footer-logo:active {
	background-color: #ba2732;
    border-bottom-color: #8e1e26; 
}