body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #ffffff;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
button {
	border: none;
	background: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	      clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.main-header {
	background-color: #f3f7f8;
}
.header-container .container{
	display: flex;
	justify-content: space-between;

}
.container {
	margin: 0 auto;
	max-width: 940px;
}
.header-container {
	background-color: #293449;
}
.main-header-logo {
	position: absolute;
	width: 220px;
    height: 42px;
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;
}
.main-header-logo img {
	margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 12px;
}
.search-form {
	position: relative;
	margin-left: 220px;
}
.search-form input {
	width: 270px;
	height: 43px;
	padding: 0 10px 0 40px;
	color: #f0f1f2;
	background-color: transparent;
	border: none;
}
.search-form input::placeholder {
	color:  #f0f1f2;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	font-weight: 400;
}
.search-form label {
	position: absolute;
	top: 12px;
	left: 15px;
}
.search-form:hover {
	background-color: #212a3a;
}
.search-form:hover path {
   fill: #ffffff;
}
input[type="search"]:focus + label path {
   fill: #f0525d;
}
input[type="search"]:focus {
	background-color: #ffffff;
	color: #111111;
}
input[type="search"]:focus::placeholder {
	color: #111111;	
}
.main-header .menu-list {
	display: flex;
}
.main-header .menu-item {
	position: relative;
	width: 150px;
	text-align: center;
}
.menu-item svg {
	position: absolute;
	left: 15px;
	top: 12px;
	fill: #6a7180;
}
.menu-item path {
	fill: #6a7180;
}
.menu-list a {
	display: block;
}
.menu-list a:not(.design) {
	color: #ffffff;
	padding: 12px 25px;
}
.menu-item .design {
	color: #ffffff;
	padding: 12px 0;
}
.menu-item:last-child {
	background-color: #63a63e;
}
.menu-list a:hover:not(.design) {
	background-color: #212a3a;
}
.menu-list a:active:not(.design) {
	background-color: #161d29;
	color: #999ca1;
}
.menu-item:hover:last-child {
	background-color: #5fbb2d;
}
.menu-item:active:last-child {
	background-color: #518534;
}
.menu-item .design:active {
	color: #80a66b;
}
.menu-item a:hover + svg path,
.menu-item a:hover + svg {
	fill: #ffffff;
}
.menu-item a:active + svg path,
.menu-item a:active + svg {
	fill: #6a7180;
}
.about {
	margin-top: 45px;
}
.about .description {
	font-size: 16px;
	line-height: 21px;
	font-style: italic; 
	color: #ee3643;
	margin: 0;
	margin-left: 50px;
	width: 195px;
}
.contacts .phone {
	margin: 0;
	position: relative;
}
.contacts .phone-number {
	font-size: 21px;
	line-height: 18px;
	color: #ee3643;
	border: 3px solid #ffffff;
	padding: 8px 48px 8px 74px;
}
.contacts .phone-number::before {
	content: "";
	width: 19px;
	height: 19px;
	background-image: url(../img/icon-phone.svg);
	position: absolute;
	left: 13px;
}
.about .container {
	display: flex;
	justify-content: space-between;
}
.contacts .address {
	margin: 0;
	margin-top: 15px;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin-left: 10px; 
}
.authorization {
	margin: 0;
}
.authorization a {
	font-size: 21px;
	line-height: 18px;
	color: #000000;	
	background-color: #ffffff;
}
.authorization a:hover {
	color: #ee3643;
}
.authorization a:active {
	color: #b2b2b2;
}
.authorization .login {
	position: relative;
	padding: 11px 27px 11px 48px;
	margin-right: 10px;
}
.login svg {
	position: absolute;
	left: 15px;
}
.login:hover path,
.login:hover polygon {
	fill: #32425c;
}
.login:active path,
.login:active polygon {
	fill: #c5c5c5;
}
.authorization .registration {
	padding: 11px 25px 11px 25px;
}
.main-navigation {
	margin-top: 45px;
}
.site-navigation {
	display: flex;
	justify-content: space-between;
	background-color: #32425c;
	border-bottom: 5px solid #293449;
	min-height: 60px;
}
.site-navigation li {
	flex-grow: 1;
	text-align: center;
} 
.site-navigation a {
	color: #ffffff;
	line-height: 17px;
	padding: 10px;
	display: block;
    padding: 20px 25px;
}